include block_html/_style.jade
include ../module/**/*.jade

+header()
.baner
	.baner-el(style="background-image:url('img/8.jpg')")
		.main-cont
			.baner-el-content
				.baner-el__title Наши <br> преимущества
				.baner-el__text-wrap
					.baner-el__text Беспалтная диангностика
					.baner-el__text Беспалтная вызов мастера
					.baner-el__text Гарантия 1 год
					.baner-el__text 9 лет на рынке Санкт-Петербурга
.main-wrap
	.content
		.section.section-trust
			.main-cont
				.section-titile Почему нам можно доверять
				.section-titile-sub Сотрудничать с нами удобно и выгодно. Мы думаем о Вас и Вашей технике.
				.section-trust-wrap
					.section-trust-el
						.section-trust-el-icon
							+icon("icon-man","icon")
						.section-trust-el-title Опытные и надежные сотрудники
						//.section-trust-el-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi accusamus adipisci nobis vel optio, illo suscipit rerum, odit odio quia.
					.section-trust-el
						.section-trust-el-icon
							+icon("icon-fix","icon")
						.section-trust-el-title Быстрый ремонт техники 

					.section-trust-el
						.section-trust-el-icon
							+icon("icon-true","icon")
						.section-trust-el-title Только качественные комплектующие 
		
		//section price
		.section.section-price
			.section-price-img(style="background-image:url('img/baner-1.jpg')")
			.section-price-cont
				.section-price-title У нас приемлимые цены
				.section-price-title-sub Стоимость ремонта компьютера
				.section-price-val от 800 руб
				.section-price-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla laboriosam
				a(href="#").section-price-get  Заказать ремонт


		//section sheme
		.section.section-sheme
			.section-titile Схема нашей работы
			.section-titile-sub Мы стараемся максимально быстро востановить вашу технику
			.main-cont
				.section-sheme-cont
						.section-sheme-step.section-sheme-step--left
							.section-sheme-el
								.section-sheme-icon
									+icon("icon-order","icon")
								.section-sheme-title <span>1.</span> Заявка по телефону или онлайн
								.section-sheme-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, cum nostrum magnam aspernatur minima?
							.section-sheme-el
								.section-sheme-icon
									+icon("icon-spec","icon")
								.section-sheme-title <span>2.</span> Консультация, оформление заявки
								.section-sheme-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor corporis dolore doloribus sequi perferendis.
						.section-sheme-img
							img(src="img/phone.png", alt="")
						.section-sheme-step.section-sheme-step--right
							.section-sheme-el
								.section-sheme-icon
									+icon("icon-diag","icon")
								.section-sheme-title <span>3.</span> Диагностика техники, согласование работ
								.section-sheme-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolore facere, maxime officia repudiandae?
							.section-sheme-el
								.section-sheme-icon
									+icon("icon-garant","icon")
								.section-sheme-title <span>4.</span> Оформление гарантийного талона
								.section-sheme-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime illo velit excepturi laudantium, architecto.

		//section sheme
		.section.section-form(style="background-image:url('img/9.jpg')")
			.section-form-filter
			.main-cont
				.section-titile Оставьте нам заявку
				.section-titile-sub Мы свяжемся с вами в ближайшее время
				form(action="").validate-form
					.section-form-wrap
						.section-form-content
							.section-form-item
								input(type="text" placeholder="Ваше имя" name="name")
								input(type="text" placeholder="Ваш телефон" name="phone")
							.section-form-text
								textarea( cols="30", rows="10" placeholder="Описание проблемы" name="comment")
					.section-form-get
						input(type="submit" class="btn btn--lg btn--green" value="Отправить заявку") 

			
+footer()
include ./block_html/_script.jade
