.baner
	width 100%
	height 600px
	margin-bottom 40px
.baner-el
	bg-full()
	width 100%
	height 100%
	f()
	justify-content center
	fl()
.baner-el__title
	up()
	font-size 62px
	line-height 52px
	//color white
	font-weight 600 
	margin-bottom 20px
.baner-el__text
	up()
	padding 10px
	margin-bottom 5px
	color #2a2a2a
	background yellow
	display inline-block 
	font-size 14px
	font-weight bold 
.baner-el__text-wrap
	f()
	fl()
	align-items flex-start
.main-wrap
	flex(between)
	align-items flex-start
.left-col
	width 25%
.content
	width 100%
.content-item
	width 70%
.left-col__title 
	up()
	font-weight 600
	font-size 16px
	margin-bottom 20px
	//font-family 'Droid Serif', serif;
.popular-service__el
	up()
	border-bottom 1px solid #ececec
	padding 10px 0
	padding-left 20px
	position relative
	display block
	color #1e3e71
	&:before
		content '>'
		position absolute
		left 0px
.popular-service
	margin-bottom 50px
.get-order
	padding 20px
	background #f5f5f5
	margin-bottom 50px
	input
		width 100%
		margin-bottom 20px
	a
		text-align center
		display block
		padding 10px
		color black
		background yellow 
		up()
		font-weight 600  
.get-news
	margin-bottom 50px
.get-news__el
	flex(between)
	align-items flex-start
	margin-bottom 20px
.get-news__img
	width 30%
	bg-full()
	height 60px
.get-news__content
	width 65%
.get-news__title 
	font-size 12px
	font-weight 600
	up() 
.get-news__text  
	font-size 10px
		
//.section
//.section-trust

.section-titile
	text-align center
	font-weight 600
	font-size 44px
.section-titile-sub
	text-align center
	margin-bottom 70px
.section-trust-wrap
	flex(between)
.section-trust-el
	width 30%
	flex(mid)
	fl()
.section-trust-el-icon
	margin-bottom 20px
.section-trust-el-title
	font-size 20px
	font-weight 600
	text-align center
	width 60%
	margin-bottom 20px
.section-trust-el-text
	text-align center
	
	
.section-price 
	f()
	justify-content space-between
.section-price-img 
	width 50%
	bg-full()
.section-price-cont 
	width 50%
	background gray-light 
	padding 60px
.section-price-title 
	@extend .type--xl
	@extend .type--bold
	border-bottom 1px solid #e4e3e3
	margin-bottom 20px
	padding-bottom 20px
.section-price-title-sub 
	up()
	margin-bottom 30px
.section-price-val 
	padding 10px 40px
	font-weight bold
	br(40px)
	background yellow
	display inline-block  
	font-size 22px
	margin-bottom 30px
.section-price-text 
	width 60%
	margin-bottom 30px
.section-price-get 
	@extend .btn
	@extend .btn--md
	@extend .btn--green

//.section-sheme
//.section-titile
//.section-titile-sub
.section-sheme-cont
	flex(between)
//.main-cont
.section-sheme-step
	width 28%
.section-sheme-el
	margin-bottom 30px
.section-sheme-icon
	margin-bottom 10px
	padding 30px
	background yellow
	round()
	flex(mid) 
	.icon
		size 60px
	
//.icon
.section-sheme-title
	up()
	font-weight bold
	margin-bottom 10px
	span
		font-size 26px
//.section-sheme-text
.section-sheme-img
	width 600px
	flex(mid)
.section-sheme-step--left
	.section-sheme-el
		f()
		fl()
		align-items flex-end
	.section-sheme-text
		text-align right

.section-sheme-step--right
	.section-sheme-el
		f()
		fl()
		align-items flex-start
	.section-sheme-text
		text-align left

//.section
.section-form-filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background rgba(17, 17, 17, 0.49); 
.section-form
	position relative
	margin-top 40px
	margin-bottom -40px
	bg-full()
	.section-titile,
	.section-titile-sub
		color white
//.main-cont
.section-form-wrap
	padding 0 0 40px 0
	border-bottom 1px solid rgba(254, 254, 254, 0.38);
	margin-bottom 40px 
.section-form-item
	flex(between)
	input
		width 30%
		opacity .9
.section-form-get
	flex(mid)
.header-navigation__el--serch
	padding 20px 
	background yellow 
	flex(mid)
	cp()
	.icon
		fill black
		size 20px

.bread-crambs-wrap
	padding 40px 0
	margin-bottom 40px
	background whitesmoke 
.bread-crambs
	f()
.bread-crambs-el
	color black
	padding-right 30px
	position relative
	a
		color black
	&:after
		content '/'
		position absolute
		right 10px
		top 0
	&:last-child
		a
			color grey
		&:after
			content '/'
			display none
		
		
