mixin footer()
	//block footer
	.footer
		.main-cont
			.footer-cont
				.footer-link
					a(href="#").footer-link-el  Я подменю
					a(href="#").footer-link-el  Ремонт компьютеров
					a(href="#").footer-link-el  Ремонт моноблоков
					a(href="#").footer-link-el  Модернизация компьютера
					a(href="#").footer-link-el  Настройка компьютера
					a(href="#").footer-link-el  Сборка компьютера на заказ
					a(href="#").footer-link-el  Чистка компьютера
					a(href="#").footer-link-el  Установка Windows
					a(href="#").footer-link-el  Ремонт жестких дисков
					a(href="#").footer-link-el  Установка и настройка принтеров
				.footer-contact
					a(href="/").footer-logo
						img(src="img/logo-white.png", alt="")
					.footer-phone 
						a(href="tel:8(495)432-23-23") 8(495)432-23-23
					.footer-mail 
						a(href="mailto:mail@mail.com") mail@mail.com


	//block footer end