.footer
	margin-top 40px
	background #324a5e 
	padding 40px 0
.footer-cont
	flex(between)
	align-items flex-start
.footer-link
	width 60%
	columns 2
.footer-link-el
	margin-bottom 5px
	color white
	width 100%
	display inline-block
	position relative
	padding-left 5px
	&:before
		content '>'
		color #979ea5
//.footer-contact
.footer-logo
	width 200px
	display block
.footer-phone
	a
		color white
		font-size 44px
		text-align right
.footer-mail
	a
		color white
		display block